
@font-face {
  font-family: "ploni-regular-aaa";
  src: url("./assets/fonts/ploni-regular-aaa.otf") format("opentype");
}

@font-face {
  font-family: "ploni-bold-aaa";
  src: url("./assets/fonts/ploni-bold-aaa.otf") format("opentype");
}


:root {
  font-size: calc(10px + 0.5vw);
  text-align: center;
  background: radial-gradient(circle at 20% 20%, #0e1447, #05081b);  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color:  #f8faff; 
  font-family: 'ploni-regular-aaa';
}



.app {
  font-size: 1.4rem;
  overflow: hidden;
  position: absolute;
  display: flex;
  top: 0rem;
    left: 0rem;
    width: 100vw;
    height: 100vh;
}

.logo {
  height: 7rem;
  margin-right: 1rem;
  z-index: 1;
  filter: drop-shadow( 0 0 10px rgba(77, 222, 255, 0.1));
}

.till-logo {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  height: 5rem;
}

@media screen and (max-width: 600px) {

  :root {
    height: 91vh;
    overflow: hidden;
  }

  #app {
    height: 91vh;
  }

  .logo {
    height: 3.5rem;
    padding-right: 0.2em;
  }
  

}